<ion-header>
  <ion-navbar>
    <ion-title>{{ vehicleData.Device_Name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="showNotif()">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row
    style="background-color: #ccc; padding-top: 8px; padding-left:12px; padding-right:12px;"
  >
    <ion-col col-6 style="text-align: left;">
      <p style="padding: 0px; margin: 0px;">
        <b>{{ "IMEI" | translate }}</b> :
      </p>
    </ion-col>
    <ion-col col-6 style="text-align: right;">
      <p style="padding: 0px; margin: 0px;">
        <b>{{ "SIM No." | translate }}</b
        >:
      </p>
    </ion-col>
  </ion-row>
  <ion-row
    style="background-color: #ccc; padding-bottom: 8px;padding-left:12px; padding-right:12px;"
  >
    <ion-col col-6 style="text-align: left;" (click)="copyText(vehicleData.Device_ID)">
      <p style="padding: 0px; margin: 0px;">
        <ion-icon name="copy"></ion-icon>&nbsp; {{ vehicleData.Device_ID }}
      </p>
    </ion-col>
    <ion-col col-6 style="text-align: right;" (click)="copyText(vehicleData.sim_number)">
      <p style="padding: 0px; margin: 0px;">
        <ion-icon name="copy"></ion-icon>&nbsp; {{ vehicleData.sim_number }}
      </p>
    </ion-col>
  </ion-row>
  <ion-item no-lines class="itemStyle" style="background:#696D74;">
    <ion-row>
      <div class="colSt3">
        <ion-icon name="pin"></ion-icon>
      </div>
      <ion-col class="colSt2">
        <div class="overme">
          {{ vehicleData.address }}
        </div>
      </ion-col>
      <ion-col class="colSt1">
        <p style="color:#fff;font-size: 12px;font-weight: 400;margin-top: 6px;">
          {{"Today's distance" | translate}}
        </p>
        <p style="color:#fff;font-size: 12px;font-weight: 400;margin-top: 6px;">
          {{ vehicleData.today_odo | number: "1.0-2" }}{{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}
        </p>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-row style="border-bottom: 1px solid #ccc;">
    <ion-col
      width-50
      style="padding-left: 30px; padding-top:8px; padding-bottom: 8px; border-right: 1px solid #ccc;"
    >
      <div
        id="qr"
        style="display:inline-block; min-width:0.6cm; height:0.6cm; vertical-align: middle;"
      >
        <img
          src="assets/imgs/statusIcons/ign_green.png"
          style="height:0.6cm;"
        />
      </div>
      <div
        style="display:inline-block;vertical-align: middle;padding-left: 10px;"
      >
        <p style="padding: 0px; margin: 0px;">{{ "IGN ON" | translate }}</p>
        <p style="padding: 0px; margin: 0px; color: gray">
          {{ today_run }} {{ "min" | translate }}
        </p>
      </div>
    </ion-col>

    <ion-col
      width-50
      style="padding-left: 30px;padding-top:8px; padding-bottom: 8px;"
    >
      <div
        id="qr"
        style="display:inline-block; min-width:0.6cm; height:0.6cm; vertical-align: middle;"
      >
        <img src="assets/imgs/statusIcons/ign_red.png" style="height:0.6cm;" />
      </div>
      <div
        style="display:inline-block;vertical-align: middle;padding-left: 10px;"
      >
        <p style="padding: 0px; margin: 0px;">{{ "IGN OFF" | translate }}</p>
        <p style="padding: 0px; margin: 0px; color: gray">
          {{ today_stop }} {{ "min" | translate }}
        </p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: 1px solid gray;">
    <ion-col
      width-50
      style="padding-left: 30px;padding-top:8px; padding-bottom: 8px; border-right: 1px solid #ccc;"
    >
      <div
        id="qr"
        style="display:inline-block; min-width:0.6cm; height:0.6cm; vertical-align: middle;"
      >
        <img src="assets/imgs/statusIcons/wheel.png" style="height:0.6cm;" />
      </div>
      <div
        style="display:inline-block;vertical-align: middle;padding-left: 10px;"
      >
        <p style="padding: 0px; margin: 0px;">{{ "Last Drive" | translate }}</p>
        <p style="padding: 0px; margin: 0px; color: gray">
          {{ lastStoppedAt }} {{ "min" | translate }}
        </p>
      </div>
    </ion-col>

    <ion-col
      width-50
      style="padding-left: 30px;padding-top:8px; padding-bottom: 8px;"
    >
      <div
        id="qr"
        style="display:inline-block; min-width:0.6cm; height:0.6cm; vertical-align: middle;"
      >
        <img
          src="assets/imgs/statusIcons/img_466583.png"
          style="height:0.6cm;"
        />
      </div>
      <div
        style="display:inline-block;vertical-align: middle;padding-left: 10px;"
      >
        <p style="padding: 0px; margin: 0px;">
          {{ "Total" | translate }} {{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}
        </p>
        <p style="padding: 0px; margin: 0px; color: gray">
          {{ vehicleData.total_odo | number: "1.0-2" }} {{ (measurementUnit == 'MKS') ? ("Kms" | translate) : ("Miles" | translate)}}
        </p>
      </div>
    </ion-col>
  </ion-row>

  <div
    style="height: 250px; width: 250px; margin:auto;"
    padding-top
    padding-bottom
  >
    <canvas #doughnutCanvas width="150" height="150"></canvas>
  </div>
  <hr />
  <div padding-top style="height: 85px; width: 250px; margin: auto;">
    <canvas #barCanvas width="150" height="80"></canvas>
  </div>
</ion-content>

<ion-footer class="footSty">
  <ion-row>
    <ion-col
      col-2
      (tap)="showDaily()"
      style="text-align:center;padding: 8px; margin:0px; color: white;font-size:0.8em;"
    >
      <ion-icon name="paper"></ion-icon><br /><span style="font-size: 10px">{{
        "Daily" | translate
      }}</span>
    </ion-col>
    <ion-col
      col-2
      (tap)="showStoppage()"
      style="text-align:center;padding: 8px; margin:0px; color: white; font-size:0.8em;"
    >
      <ion-icon name="paper"></ion-icon><br /><span style="font-size: 10px">{{
        "Stoppage" | translate
      }}</span>
    </ion-col>
    <ion-col
      col-2
      (tap)="showTrip()"
      style="text-align:center;padding: 8px; margin:0px; color: white; font-size:0.8em;"
    >
      <ion-icon name="paper"></ion-icon><br /><span style="font-size: 10px">{{
        "Trip" | translate
      }}</span>
    </ion-col>
    <ion-col
      col-2
      (tap)="showLive()"
      style="text-align:center;padding: 8px; margin:0px; color: white; font-size:0.8em;"
    >
      <ion-icon name="pin"></ion-icon><br /><span style="font-size: 10px">{{
        "Live" | translate
      }}</span>
    </ion-col>
    <ion-col
      col-2
      (tap)="showHistory()"
      style="text-align:center;padding: 8px; margin:0px; color: white; font-size:0.8em;"
    >
      <ion-icon name="clock"></ion-icon><br /><span style="font-size: 10px">{{
        "History" | translate
      }}</span>
    </ion-col>
    <ion-col
      col-2
      (click)="shareLive($event)"
      style="text-align:center;padding: 8px; margin:0px; color: white; font-size:0.8em;"
    >
      <ion-icon name="share"></ion-icon><br /><span style="font-size: 10px">{{
        "Share" | translate
      }}</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      col-2
      (tap)="upload()"
      style="text-align:center;padding: 8px; margin:0px; color: white; font-size:0.8em;"
    >
      <ion-icon name="cloud-upload"></ion-icon><br /><span
        style="font-size: 9px"
        >{{ "Upload" | translate }}</span
      >
    </ion-col>
    <ion-col
      col-2
      style="text-align:center;padding: 8px; margin:0px; color: white; font-size:0.8em;"
    >
      <ion-icon
        name="power"
        style="color:#ef473a;font-size: 3vw;"
        *ngIf="vehicleData.last_ACC == '0'"
      ></ion-icon>
      <ion-icon
        name="power"
        style="color:#1de21d;font-size: 3vw;"
        *ngIf="vehicleData.last_ACC == '1'"
      ></ion-icon>
      <ion-icon
        name="power"
        style="color:gray;font-size: 3vw;"
        *ngIf="vehicleData.last_ACC == null"
      ></ion-icon>
      <br /><span style="font-size: 9px">{{ "Ignition" | translate }}</span>
    </ion-col>
    <ion-col
      col-2
      style="text-align:center;padding: 8px; margin:0px; color: white; font-size:0.8em;"
    >
      <ion-icon
        name="battery-charging"
        style="color:#ef473a;"
        *ngIf="vehicleData.power != '1'"
      ></ion-icon>
      <ion-icon
        name="battery-charging"
        style="color:#1de21d;"
        *ngIf="vehicleData.power == '1'"
      ></ion-icon>
      <br /><span style="font-size: 9px">{{ "Power" | translate }}</span>
    </ion-col>
    <ion-col
      col-2
      (click)="IgnitionOnOff(vehicleData)"
      style="text-align:center;padding: 8px; margin:0px; color: white; font-size:0.8em;"
    >
      <ion-icon
        name="lock"
        style="color:#ef473a;"
        *ngIf="vehicleData.ignitionLock == '1'"
      >
      </ion-icon>
      <ion-icon
        name="unlock"
        style="color:#1de21d;"
        *ngIf="vehicleData.ignitionLock == '0'"
      >
      </ion-icon
      ><br /><span style="font-size: 8px">{{ "Immobilize" | translate }}</span>
    </ion-col>
    <!-- <ion-col
      col-2
      (tap)="dialNumber(vehicleData.contact_number)"
      style="text-align:center;padding: 8px; margin:0px; color: white; font-size:0.8em;"
    >
      <ion-icon name="call"></ion-icon><br /><span style="font-size: 9px">{{
        "driver" | translate
      }}</span>
    </ion-col> -->
    <ion-col
      col-2
      (tap)="towAlertCall(vehicleData)"
      style="text-align:center;padding: 8px; margin:0px; color: white; font-size:0.8em;"
    >
    <!-- <ion-icon *ngIf="vehicleData.towAlert === undefined" color="secondary" name="alert"></ion-icon><br /><span style="font-size: 9px">Tow Alert</span> -->
    <ion-icon *ngIf="vehicleData.towAlert" color="secondary" name="alert"></ion-icon>
    <ion-icon *ngIf="!vehicleData.towAlert" color="danger" name="alert"></ion-icon><br /><span style="font-size: 9px">{{"Tow" | translate}}</span>
    </ion-col>

    <ion-col
      col-2
      style="text-align:center;padding: 8px; margin:0px; color: white; font-size:0.8em;"
    >
      <div style="text-align: center;" (click)="fonctionTest(vehicleData)">
        <img
          *ngIf="vehicleData.theftAlert"
          src="assets/imgs/anti-theft_anti_theft_protection_hacker_investigate-512.png"
          style="width: 12.5px;"
        />
        <img
          *ngIf="!vehicleData.theftAlert"
          src="assets/imgs/anti-theft_anti_theftred.png"
          style="width: 12.5px;"
        />
        <br /><span style="font-size: 9px">{{ "Parking" | translate }}</span>
      </div>
    </ion-col>
  </ion-row>
</ion-footer>

<div *ngIf="showFooter">
  <!-- <ion-bottom-drawer
    [(hidden)]="drawerHidden"
    [dockedHeight]="180"
    [bounceThreshold]="800"
    [shouldBounce]="true"
    [distanceTop]="-10"
  > -->
  <ion-bottom-drawer
    [(state)]="drawerState1"
    [dockedHeight]="dockedHeight1"
    [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop1"
    [minimumHeight]="minimumHeight1"
  >
    <div class="drawer-content">
      <p style="font-size:1.2em; color:black;">
        {{ "Share Live Vehicle" | translate }}
      </p>
      <ion-row>
        <ion-col col-4 style="padding: 5px">
          <button
            ion-button
            block
            color="{{ condition }}"
            (click)="sharedevices('15mins')"
          >
            {{ "15 mins" | translate }}
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button
            ion-button
            block
            color="{{ condition1 }}"
            (click)="sharedevices('1hour')"
          >
            {{ "1 hour" | translate }}
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button
            ion-button
            block
            color="{{ condition2 }}"
            (click)="sharedevices('8hours')"
          >
            {{ "8 hours" | translate }}
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4 style="text-align: right;">
          <ion-fab style="right: calc(10px + env(safe-area-inset-right));">
            <button ion-fab mini (click)="shareLivetemp()" color="gpsc">
              <ion-icon name="send" color="black"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>
