<ion-header>
  <ion-navbar>
    <ion-title>Payment History</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-content
    *ngIf="paymentHistory.length == 0"
    style="text-align: center; margin: 15px; font-size: 20px"
  >
    History Not Found</ion-content
  >
  <ion-card *ngFor="let item of paymentHistory">
    <ion-card-content>
      <ion-row>
        <ion-col col-6 style="font-size: 17px; font-weight: bold">
          Status
        </ion-col>
        <ion-col style="font-size: 17px; font-weight: bold">
          {{item?.Status}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 style="font-size: 17px; font-weight: bold">
          TransactionID
        </ion-col>
        <ion-col style="font-size: 17px; font-weight: bold">
          {{item?.TransactionID}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 style="font-size: 17px; font-weight: bold">
          Amount
        </ion-col>
        <ion-col style="font-size: 17px; font-weight: bold">
          {{item?.Amount}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 style="font-size: 17px; font-weight: bold">
          Date
        </ion-col>
        <ion-col style="font-size: 17px; font-weight: bold">
          {{item?.createdAt}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
<!-- [{"_id":"61b9cd046fff072a0c11c857","Customer_ID":"5cee7da97a38f414a4e5dfa3","Amount":1500,"Items":"GPS Renewal","PaymentMode":"Cheque","Remarks":"test","Status":"Paid","TransactionID":"4545454","supAdmin":"59cbbdbe508f164aa2fef3d8","__v":0,"VehicleNo":["615d910c4ef4e221a09e7549"]},{"_id":"61b9cd2d6fff072a0c11c85e","Customer_ID":"5cee7da97a38f414a4e5dfa3","Amount":2000,"Items":"GPS Renewal","PaymentMode":"Cash","Remarks":"renewal","Status":"Paid","TransactionID":"455544","supAdmin":"59cbbdbe508f164aa2fef3d8","__v":0,"VehicleNo":["60b5da4f8b50340d4e22c4f2"]},{"_id":"61ba0689dc5f282fae013b55","Customer_ID":"5cee7da97a38f414a4e5dfa3","Items":"SIM + Software","PaymentMode":"UPI","Remarks":"455","Status":"Paid","supAdmin":"59cbbdbe508f164aa2fef3d8","__v":0,"VehicleNo":[]},{"_id":"61ba11b2f521042fb8f60a56","Customer_ID":"5cee7da97a38f414a4e5dfa3","Amount":2,"Items":"SIM + Software","PaymentMode":"UPI","Remarks":"455","Status":"Paid","supAdmin":"59cbbdbe508f164aa2fef3d8","__v":0,"VehicleNo":["MH14HG8396","MH12KQ1871"]},{"_id":"61ba12b3f521042fb8f60a6a","Customer_ID":"5cee7da97a38f414a4e5dfa3","Amount":2,"Items":"SIM + Software","PaymentMode":"UPI","Remarks":"455","Status":"Paid","TransactionID":"pay_IXoKZzWLq2CQHr","supAdmin":"59cbbdbe508f164aa2fef3d8","__v":0,"VehicleNo":["MH14HG8396","MH12KQ1871"]}]-->
